[run]
omit =
    */__init__.py
    arkouda/_version.py
    arkouda/accessor.py 
    arkouda/alignment.py
    arkouda/apply.py
    arkouda/array_api/_dtypes.py
    arkouda/array_api/_typing.py
    arkouda/array_api/array_object.py
    arkouda/array_api/creation_functions.py
    arkouda/array_api/data_type_functions.py
    arkouda/array_api/elementwise_functions.py
    arkouda/array_api/indexing_functions.py
    arkouda/array_api/linalg.py
    arkouda/array_api/manipulation_functions.py
    arkouda/array_api/searching_functions.py
    arkouda/array_api/sorting_functions.py
    arkouda/array_api/statistical_functions.py
    arkouda/array_api/utility_functions.py
    arkouda/client_dtypes.py
    arkouda/comm_diagnostics.py
    arkouda/core/client.py
    arkouda/core/infoclass.py
    arkouda/core/logger.py
    arkouda/core/message.py
    arkouda/core/security.py
    arkouda/history.py
    arkouda/numpy/_typing/_typing.py
    arkouda/numpy/_bigint.py 
    arkouda/numpy/alignment.py
    arkouda/numpy/char.py
    arkouda/numpy/dtypes.py
    arkouda/numpy/err.py
    arkouda/numpy/manipulation_functions.py
    arkouda/numpy/numeric.py
    arkouda/numpy/pdarrayclass.py
    arkouda/numpy/pdarraycreation.py
    arkouda/numpy/pdarraymanipulation.py
    arkouda/numpy/pdarraysetops.py
    arkouda/numpy/random/generator.py
    arkouda/numpy/random/legacy.py
    arkouda/numpy/segarray.py
    arkouda/numpy/sorting.py
    arkouda/numpy/strings.py
    arkouda/numpy/timeclass.py
    arkouda/numpy/util.py
    arkouda/numpy/utils.py
    arkouda/pandas/categorical.py
    arkouda/pandas/dataframe.py
    arkouda/pandas/extension/_arkouda_array.py
    arkouda/pandas/extension/_arkouda_categorical_array.py
    arkouda/pandas/extension/_arkouda_extension_array.py
    arkouda/pandas/extension/_arkouda_string_array.py
    arkouda/pandas/extension/_dtypes.py
    arkouda/pandas/extension/_index_accessor.py
    arkouda/pandas/extension/_dataframe_accessor.py
    arkouda/pandas/extension/_series_accessor.py
    arkouda/pandas/groupbyclass.py
    arkouda/pandas/index.py
    arkouda/pandas/io.py
    arkouda/pandas/io_util.py
    arkouda/pandas/join.py
    arkouda/pandas/match.py
    arkouda/pandas/matcher.py
    arkouda/pandas/row.py
    arkouda/pandas/series.py
    arkouda/plotting.py
    arkouda/scipy/_stats_py.py
    arkouda/scipy/sparrayclass.py
    arkouda/scipy/sparsematrix.py
    arkouda/scipy/special/_math.py
    arkouda/testing/_asserters.py
    arkouda/testing/_equivalence_asserters.py

