[run]
omit =
    arkouda/_version.py
    arkouda/accessor.py 
    arkouda/alignment.py
    arkouda/apply.py
    arkouda/array_api/_dtypes.py
    arkouda/array_api/array_object.py
    arkouda/array_api/creation_functions.py
    arkouda/array_api/data_type_functions.py
    arkouda/array_api/elementwise_functions.py
    arkouda/array_api/indexing_functions.py
    arkouda/array_api/linalg.py
    arkouda/array_api/manipulation_functions.py
    arkouda/array_api/searching_functions.py
    arkouda/array_api/sorting_functions.py
    arkouda/array_api/statistical_functions.py
    arkouda/array_api/utility_functions.py
    arkouda/client.py
    arkouda/client_dtypes.py
    arkouda/comm_diagnostics.py
    arkouda/infoclass.py
    arkouda/logger.py
    arkouda/message.py
    arkouda/numpy/_typing/_typing.py
    arkouda/numpy/_bigint.py 
    arkouda/numpy/alignment.py
    arkouda/numpy/char.py
    arkouda/numpy/dtypes.py
    arkouda/numpy/err.py
    arkouda/numpy/manipulation_functions.py
    arkouda/numpy/numeric.py
    arkouda/numpy/pdarrayclass.py
    arkouda/numpy/pdarraycreation.py
    arkouda/numpy/pdarraymanipulation.py
    arkouda/numpy/pdarraysetops.py
    arkouda/numpy/random/generator.py
    arkouda/numpy/random/legacy.py
    arkouda/numpy/segarray.py
    arkouda/numpy/sorting.py
    arkouda/numpy/strings.py
    arkouda/numpy/timeclass.py
    arkouda/numpy/util.py
    arkouda/numpy/utils.py
    arkouda/pandas/categorical.py
    arkouda/pandas/dataframe.py
    arkouda/pandas/extension/_arkouda_array.py
    arkouda/pandas/extension/_arkouda_categorical_array.py
    arkouda/pandas/extension/_arkouda_extension_array.py
    arkouda/pandas/extension/_arkouda_string_array.py
    arkouda/pandas/extension/_dtypes.py
    arkouda/pandas/extension/_index_accessor.py
    arkouda/pandas/extension/_dataframe_accessor.py
    arkouda/pandas/groupbyclass.py
    arkouda/pandas/index.py
    arkouda/pandas/io.py
    arkouda/pandas/io_util.py
    arkouda/pandas/join.py
    arkouda/pandas/match.py
    arkouda/pandas/matcher.py
    arkouda/pandas/row.py
    arkouda/pandas/series.py
    arkouda/plotting.py
    arkouda/scipy/_stats_py.py
    arkouda/scipy/sparrayclass.py
    arkouda/scipy/sparsematrix.py
    arkouda/scipy/special/_math.py
    arkouda/security.py
    arkouda/testing/_asserters.py
    arkouda/testing/_equivalence_asserters.py
    server_util/test/server_test_util.py
    tests/apply_test.py
    tests/array_api/array_creation.py
    tests/array_api/array_manipulation.py
    tests/array_api/constants.py
    tests/array_api/data_type_functions.py
    tests/array_api/elementwise_functions.py
    tests/array_api/indexing.py
    tests/array_api/linalg.py
    tests/array_api/searching_functions.py
    tests/array_api/set_functions.py
    tests/array_api/sorting.py
    tests/array_api/stats_functions.py
    tests/array_api/typing_test.py
    tests/array_api/utility_functions.py
    tests/check.py
    tests/checkpoint_test.py
    tests/client_dtypes_test.py
    tests/client_test.py
    tests/coargsort_test.py
    tests/comm_diagnostics_test.py
    tests/conftest.py
    tests/extrema_test.py
    tests/history_test.py
    tests/indexing_test.py
    tests/infoclass_test.py
    tests/logger_test.py
    tests/message_test.py
    tests/numpy/alignment_test.py
    tests/numpy/bigint_test.py
    tests/numpy/char_test.py
    tests/numpy/datetime_test.py
    tests/numpy/dtypes_test.py
    tests/numpy/err_test.py
    tests/numpy/manipulation_functions_test.py
    tests/numpy/numeric_test.py
    tests/numpy/pdarray_creation_test.py
    tests/numpy/pdarrayclass_test.py
    tests/numpy/pdarraymanipulation_tests.py
    tests/numpy/random_test.py
    tests/numpy/segarray_test.py
    tests/numpy/setops_test.py
    tests/numpy/sort_test.py
    tests/numpy/string_test.py
    tests/numpy/util_test.py
    tests/operator_test.py
    tests/pandas/categorical_test.py
    tests/pandas/dataframe_test.py
    tests/pandas/extension/arkouda_array_extension.py
    tests/pandas/extension/arkouda_categorical_extension.py
    tests/pandas/extension/arkouda_extension.py
    tests/pandas/extension/arkouda_strings_extension.py
    tests/pandas/extension/dtypes_extension.py
    tests/pandas/extension/index_accessor.py
    tests/pandas/extension/dataframe_accessor.py
    tests/pandas/groupby_test.py
    tests/pandas/index_test.py
    tests/pandas/io_test.py
    tests/pandas/io_util_test.py
    tests/pandas/join_test.py
    tests/pandas/parquet_edge_test.py
    tests/pandas/row_test.py
    tests/pandas/series_test.py
    tests/regex_test.py
    tests/scipy/scipy_test.py
    tests/scipy/sparse_test.py
    tests/security_test.py
    tests/test_no_ak_connect_doctest.py
    tests/testing/asserters_test.py
    tests/testing/equivalence_asserters_test.py
    tests/version_test.py

