arkouda_server
arkouda_server_real
arkouda_server_llvm
arkouda_server_llvm_real
*.log
*_real
#*#
.#*
*.~*
*.*~
__pycache__/
.ipynb_checkpoints/
.vscode/
doc/
docs/
test-bin/
Makefile.paths
SysInfo.chpl
Untitled.ipynb
