# Comment out modules using a `#` to exclude
# a module from a build

ArgSortMsg
CastMsg
EfuncMsg
IndexingMsg
#LinalgMsg
LogMsg
ManipulationMsg
OperatorMsg
RandMsg
ReductionMsg
RegistrationMsg
SequenceMsg
SetMsg
SortMsg
StatsMsg
TransferMsg
UtilMsg

# Add additional modules located outside
# of the Arkouda src/ directory below.
# For modules outside of the Arkouda src/
# directory, make sure to add the complete
# path to the module in the environment
# variable ARKOUDA_SERVER_USER_MODULES.
