numpy>=1.24.1,<2.0
pandas>=1.4.0,!=2.2.0
pyzmq>=20.0.0
typeguard==2.10.0
tabulate
pyfiglet
versioneer
matplotlib>=3.3.2
h5py>=3.7.0
types-tabulate
pyarrow
jupyter
scipy<=1.13.1
pytest>=6.0
pytest-env
pexpect
Sphinx>=5.1.1
sphinx-argparse
sphinx-autoapi
sphinx-design
sphinx-autodoc-typehints
sphinx-autopackagesummary
furo
myst-parser
linkify-it-py
typed-ast
flake8
mypy>=0.931
black
isort
pytest-json-report
pytest-benchmark
mathjax
pandas-stubs
types-python-dateutil
blosc2>=2.3.0
numexpr>=2.6.2
tables>=3.8.0
