# dependencies
python>=3.8,<3.12.4
numpy>=1.24.1,<2.0
pandas>=1.4.0,!=2.2.0
pyzmq>=20.0.0
typeguard==2.10.0
tabulate
pyfiglet
versioneer
matplotlib>=3.3.2
h5py>=3.7.0
hdf5==1.12.2
pip
types-tabulate
tables>=3.7.0
pyarrow
libiconv
libidn2
scipy<=1.13.1

# Developer dependencies
pexpect
pytest>=6.0
pytest-env
Sphinx>=5.1.1
sphinx-argparse
sphinx-autoapi
myst-parser
furo # sphinx theme
linkify-it-py
typed-ast
mypy>=0.931,<0.990
flake8
pytest-benchmark
mathjax
sphinx-autopackagesummary
sphinx-design
sphinx-autodoc-typehints
pandas-stubs
types-python-dateutil
ipython
