name: CI

on: [push, pull_request]

jobs:
  lint_job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: look for tabs
      run: |
        ! git --no-pager grep -n $'\t' -- '*.chpl'

  std_job:
    runs-on: ubuntu-latest
    container:
      image: chapel/chapel:1.20.0
    steps:
    - uses: actions/checkout@v1
    - name: linux comm=none
      run: |
        apt-get update && apt-get install -y libhdf5-dev libzmq3-dev python3-pip
        echo "\$(eval \$(call add-path,/usr/lib/x86_64-linux-gnu/hdf5/serial/))" > Makefile.paths
        ARKOUDA_DEVELOPER=true make
